<div class="main__body">
    <div class="container">
        <div class="home__page">
            <h1>Welcome to the home page!</h1>
            <h3>Select a country to view the current players</h3>
            <ul>
                <button *ngFor="let country of countries | async"
                    type="buton"
                    class="btn btn-primary btn-block"
                    (click)="viewSquad(country.name)"
                    style="margin:20px; height:30px; width:100px"
                >
                    {{ country.name }}
                </button>
            </ul>
        </div>
    </div>
</div>