<div class="main__body">
  <div class="container">
    <div class="login__page">
      <div class="login__card" align="center">
        <form>
          <h3>Login Form</h3>
          <p>Log in to view incredible cricket stats</p>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>

          <div class="form-group">
            <button
              type="buton"
              class="btn btn-primary btn-block"
              style="margin-bottom: 20px"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
