<div class="main__body">
  <div class="container">
    <div class="login__page">
      <div class="login__card" align="center">
        <form>
          <h3>Login Form</h3>
          <p>Log in to view incredible cricket stats</p>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input #inputEmail
              type="email"
              class="form-control"
              id="inputEmail"
              placeholder="Email"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input #inputPassword
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              required
            />
          </div>

          <div class="form-group">
            <button
              type="buton"
              class="btn btn-primary btn-block"
              style="margin-bottom: 20px"
              (click)="login(inputEmail.value, inputPassword.value)"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
